<body class="login vertical-center">
    <div class="container">
        <div class="login-wrapper clearfix">
            <ul class="tabs clearfix">
                <li [ngClass]="left ? 'left-tab active' : 'left-tab'" data-tab="login" (click)="toggle(true)">
                    <a>Login</a>
                </li>
                <li [ngClass]="!left ? 'right-tab active' : 'right-tab'" data-tab="sign_up" (click)="toggle(false)">
                    <a>Sign Up</a>
                </li>
            </ul>
            <div class="tab-content">
                <div [ngClass]="left ? 'tab-pane active' : 'tab-pane'" id="login">
                    <form class="form-horizontal login-form">
                        <div class="form-group relative">
                            <input class="form-control input-lg" id="username" placeholder="E-mail Address" required=""
                                type="email"> <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group relative">
                            <input class="form-control input-lg" id="password" placeholder="Password" required="" type="password">
                            <i class="fa fa-key"></i>
                        </div>
                        <hr />
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block" type="submit">Login</button>
                        </div>
                    </form>
                </div>
                <div [ngClass]="!left ? 'tab-pane active' : 'tab-pane'" id="sign_up">
                    <form class="form-horizontal login-form">
                        <div class="form-group relative">
                            <input class="form-control input-lg" id="registerUsername" placeholder="E-mail Address"
                                required="" type="email"> <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group relative">
                            <input class="form-control input-lg" id="registerPassword" placeholder="Password" required=""
                                type="password">
                            <i class="fa fa-key"></i>
                        </div>
                        <div class="form-group relative">
                            <input class="form-control input-lg" id="confirmPassword" placeholder="Re-type password"
                                required="" type="password"> <i class="fa fa-key"></i>
                        </div>
                        <hr>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>