@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    min-height: 100%;
    position: relative;
    width:100%;
    height:100%;
    overflow:hidden;
}

label {
    margin-bottom: 0;
}

a {
    color: #eee;
}

a:focus,
a:hover {
color: #9c9c9c;
}

body.login {
    background: #eee;
}

.relative {
    position: relative;
}

.tabs {
    margin-bottom:70px;
}
ul.tabs li{
    list-style-type: none;
    width:50%;
    position:absolute;
    top:0;
}
.left-tab {
    left:0;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 2em 0 0 0;
}
.right-tab {
    right:0;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 0 2em 0 0;
}

.login-wrapper {
    position: relative;
    max-width: 400px;
    margin: 2% auto 5%;
    padding: 50px;
    box-sizing: border-box;
    background: rgba(15, 76, 126, 0.8);
    box-shadow:0 4px 10px 4px rgba(77, 77, 77,.3);
    border-radius: 2em;
}

.login-wrapper .welcome {
    font-size: 16px;
    letter-spacing: 1px;
}
.login-wrapper li {
    text-align: center;
    padding:0 15px;
    background-color: #93a5ab;
    height:50px;
    line-height:50px;
    box-shadow: inset 0 -2px 0 0 #ccc;
    cursor:pointer;
}
.login-wrapper li a{
    color:rgb(248, 248, 248);
}
.login-wrapper li a:hover{
    color:#ccc;
    text-decoration:none;
}

.login-wrapper li a:active,
.login-wrapper li a:focus{
    color:rgb(248, 248, 248);;
    text-decoration:none;
}
.login-wrapper li.active{
    background-color:transparent;
    box-shadow:none;
}
.login-wrapper li.active a{
    border-bottom:2px solid rgb(248, 248, 248);;
    padding-bottom:5px;
}

.login input:focus + .fa{
    color:#25a08d;
}
.login-form .form-group {
    margin-right: 0;
    margin-left: 0;
}

.login-form i {
    position: absolute;
    top: 0;
    left: 16px;
    line-height: 60px;
    color: rgba(40, 52, 67, 1);
    z-index:100;
    font-size:16px;
}

.login-form .input-lg {
    font-size: 16px;
    height: 60px;
    padding: 10px 25px;
    border-radius: 0;
    
}

.login input[type="email"],
.login input[type="password"],
.login input:focus {
    background-color: rgba(7, 45, 92, 0.75);
    border: 0px solid #4a525f;
    color: #eee;
    border-left: 45px solid #93a5ab;
    border-radius: 20px 0 20px 0;
}

.login input:focus {
    border-left: 45px solid #eee;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: rgba(40, 52, 67, 0.75) !important;
    background-image: none;
    color: rgb(0, 0, 0);
    border-color: rgba(40, 52, 67, 0.75);
}

.btn-success {
    background-color: rgba(7, 45, 92, 0.75);;
    background-image: none;
    padding: 8px 25px;
    margin-top:20px;
    border-radius: 40px;
    border: 1px solid rgba(7, 45, 92, 0.75);;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

.btn-success:focus,
.btn-success:hover,
.btn-success.active,
.btn-success.active:hover,
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active {
    background-color: #25a08d;
    border-color: #25a08d;
    box-shadow: 0px 5px -5px #25a08d;
    color: rgb(248, 248, 248);;
    outline:none;
}

.vertical-center {
    min-height: 100%;  
    min-height: 100vh; 
    display: flex;
    align-items: center;
}
