
@import url(https://fonts.googleapis.com/css?family=Knewave);

.logo-text {
    font-family: 'Knewave', cursive;
    font-size: 32px;
    text-transform: uppercase;
}

.navbar button {
    margin-left: 10px;
}