<div class="container"><nav class="navbar navbar-expand navbar-dark bg-light">
    <a class="navbar-brand text-secondary logo-text" href="/">Stacked</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
        </ul>
        <form class="form-inline">
                <button type="button" class="btn btn-success">Login</button>
                <button type="button" class="btn btn-danger">Sign Up</button>
        </form>

    </div>
</nav>
</div>
<router-outlet></router-outlet>